<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Pinterest | Service for our Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<h1 class="title-text">MY-PINS</h1>
<h1 class="title-text">Pinterest Service for our Clients</h1>
</html>

