<!doctype html>
<html lang="en-EN">
<head>
    <meta charset="utf-8" />
    <title> Dashboard | Realtime Log Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<h1 class="title-text">Dashboard | Realtime Log Monitor</h1>
<div class="page white">
    <div class="page-container">
        <div id="status" class="red">Disconnected</div>
        <div id="data">
            {% for line in log_buffer %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
<script type=text/javascript charset="utf-8">
    const socket = io.connect('http://' + document.domain + ':' + location.port);

    let $status = $('#status');
    let $data = $('#data');
    socket.on( 'connect', function () {
        $status.removeClass('red');
        $status.text('Connected');
        $status.addClass('green');

        socket.emit( 'my event', {
            data: 'User Connected'
        });
        socket.on( 'my response', function ( msg) {
            if ($('#data p').last().text() !== msg) {
                $data.append($('<p/>').text(msg));
                $data.scrollTop($data[0].scrollHeight);
            } else {
                $data.scrollTop($data[0].scrollHeight);
            }
        })
    });
</script>
</html>